<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Who wants to be an OLIGOFRIEND millionaire?</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='static/index.css'>
    <script src='main.js'></script>
</head>
<body>

    <img src="../static/images/logo.png" class="logo"> </img>

    <div class="btndiv">
        <button class="menuBtn"> Start Game </button> 
        <button class="menuBtn"> Add Question </button> 
        <button class="menuBtn"> Delete Question </button> 
    </div>
	

</body>
</html></htm>