<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Who wants to be an OLIGOFRIEND millionaire?</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../../static/EndGame.css'>
    <script src='main.js'></script>
</head>
<body>

    <img src="../../static/images/logo.png" class="logo"> </img>

    <div class="textDiv">
        <h1>Good job, {{player}}, you got to step {{step}}!</h1>
    </div>

    <form action="/">
        <button>
            Main Menu
        </button>
    </form>
		

</body>
</html></htm>