<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Who wants to be an OLIGOFRIEND millionaire?</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../../../static/Game.css'>
    <script src="https://kit.fontawesome.com/9e1b09ab6a.js" crossorigin="anonymous"></script>
</head>
<body background="../../../static/images/bg.jpg">

    <audio id="aCorrect">
        <source src="../../../static/correct.mp3" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>

    <audio id="aWrong">
        <source src="../../../static/wrong.mp3" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>

    <div class="logoCon">
        <form method='POST'>
            {% for life in lifelines %}
                {% if life == '50' %}
                    <button class="lifeline" type="submit" formaction="/lifeline/{{player}}/{{question}}/{{life}}"> <i class="fa-solid fa-circle-half-stroke"></i> </button>
                {% endif %}

                {% if life == 'call' %}
                    <button type="submit" class="lifeline" formaction="/lifeline/{{player}}/{{question}}/{{life}}"> <i class="fa-solid fa-phone-flip"> </i> </button>
                {% endif %}

                {% if life == 'ask' %}
                    <button type="submit" class="lifeline" formaction="/lifeline/{{player}}/{{question}}/{{life}}"> <i class="fa-solid fa-people-group"></i> </button> 
                {% endif %}

            {% endfor %}

                <button type="submit" class="lifeline" formaction="/lifeline/{{player}}/{{question}}/shot"> <i class="fa-solid fa-whiskey-glass"></i> </button>
        </form>

        <img src="../../../static/images/logo.png" class="logo"> </img>


    </div>
    
    <form method='POST'>
        <table cellpadding="0" cellspacing="0" border="0">
            <tbody>
                
            </tbody>
        </table>
    </form>
    
    <div class="qCon">
        <h1 class="question"> {{ question[0] }}? </h1>
    </div>
	
    <form class="qForm" action="/check/{{player}}/{{question[5]}}" method="post">
        <div class="Answers">
            <div class="ansline1">
                <div class="ans a1">
                    <input type="radio" id="A" name="Ans" value="A" />
                    <label class="ansButton" for="A"> A: {{question[1]}} </label>
                </div>
                <div class="ans a2">
                    <input type="radio" id="B" name="Ans" value="B"/>
                    <label class="ansButton" for="B"> B: {{question[2]}} </label>
                </div>
            </div>

            <div class="ansline2">
                <div class="ans a3">
                    <input type="radio" id="C" name="Ans" value="C"/>
                    <label class="ansButton" for="C"> C: {{question[3]}} </label>
                </div>
                <div class="ans a4">
                    <input type="radio" id="D" name="Ans" value="D"/>
                    <label class="ansButton chk" for="D"> D: {{question[4]}} </label>
                </div>
            </div>

            <div class="subline">
                <div class="ans a5">
                    <button type="submit" class="subButton"> Final Answer </button>
                </div>
            </div>
        </div>
    </form>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

    <script>
        var aCor = document.getElementById("aCorrect");
        var aWro = document.getElementById("aWrong");
        var Cans = "{{question[5]}}"
        $(function check() {        
                           
            $(".subButton").click(function() { 
                var $element =  $("input:checked")
                var $label = $("label[for='"+$element.attr('id')+"']")
                var Answ = $label.attr("for")
                
                if(Cans === Answ) {
                    setTimeout(()=>{$($label).addClass("activeCorrect");
                    aCor.play();
                }, 1000)
                    // $($label).addClass("activeCorrect").delay(1000);
                    // aCor.play().delay(1000);
                }
                else {
                    // $($label).addClass("activeWrong").delay(1000);
                    // aWro.play().delay(1000);
                    setTimeout(()=>{$($label).addClass("activeWrong");
                    aWro.play();
                }, 1000)
                }
                ;
        });
        
        });

        

        

    </script>

    <script>

        $('.qForm').submit( function(event) {
            var formId = this.id,
                form = this;

            event.preventDefault();

            setTimeout( function () { 
                form.submit();
            }, 6000);
        });
    </script>

</body>
</html></htm>