<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Who wants to be an OLIGOFRIEND millionaire?</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='static/index.css'>
    <script src='main.js'></script>
</head>
<body>

    <img src="../static/images/logo.png" class="logo"> </img>

    <div class="btndiv">
        <form method="POST" action="/q/1">
            <button type="submit" class="menuBtn"> Start Game </button>
        </form>

        <form method="POST" action="/filtername">
            <button type="submit" class="menuBtn"> View Questions </button> 
        </form>

        <form method="POST" action="/leaderboards">
            <button type="submit" class="menuBtn"> Leaderboards </button> 
        </form>

        <form method="POST" action="/reset">
            <button type="submit" class="menuBtn"> Reset Used Questions </button> 
        </form>

    </div>
		

</body>
</html></htm>